<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input autofocus (keyup.enter)="onSubmit()" [formControl]="todo" class="new-todo" placeholder="¿Que quieres hacer?" autofocus>
  </header>
  <section class="main">
    <input (click)="markAll()" id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Marcar todo como completado</label>
    <ul class="todo-list">
      <app-item [todo]="todo" *ngFor="let todo of todos$ | async;"></app-item>
    </ul>
  </section>

  <app-footer></app-footer>
  
</section>
<footer class="info">
  <p>Doble click para editar un TODO</p>
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <p>Created by <a href="http://todomvc.com">Oscar Del Rio</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  <p>Using <a href="http://todomvc.com">Angular & NGXS</a></p>
</footer>